{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">

  <link rel="author" href="https://adbeus.com/humans.txt">
  
  <title>Pictures @ Home</title>
  <meta name="description" content="Snapshots that tell the tale of my life">
  <link rel="canonical" href="https://nothing.com">

  <link rel="dns-prefetch" href="//code.jquery.com">
  <link rel="dns-prefetch" href="//s.w.org">
</head>
{{ end }}